In [1]:
### 已经学习 3 8 9  ,
### 4 12 数据导入与导出 章
### 第九章 时间索引 没有学习

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta
from pandas.tseries.offsets import Day,Hour,Minute

In [3]:
def load_data(filepath):
    df = pd.read_csv(filepath,sep=',',nrows = 3,encoding = "utf-8",engine="python")
    return df

In [4]:
df = load_data('/Users/maming/Downloads/test/dataframe_2_data_deal.txt')
df.info()
df['c4'] = pd.to_datetime(df['c4'], format='%Y%m%d %H:%M:%S')  ## 字符串转换成datetime64
df['c6'] = df['c6'].apply(lambda x: datetime.strptime(x,'%Y%m%d %H:%M:%S'))  ## 字符串转换成datetime64
df['c7'] = df['c7'].apply(lambda x: datetime.strptime(str(x),'%Y%m%d'))  ## 字符串转换成datetime64
##df.set_index("c5", inplace=True)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
c1    3 non-null int64
c2    3 non-null int64
c3    3 non-null int64
c4    3 non-null object
c5    3 non-null object
c6    3 non-null object
c7    3 non-null int64
dtypes: int64(4), object(3)
memory usage: 240.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
c1    3 non-null int64
c2    3 non-null int64
c3    3 non-null int64
c4    3 non-null datetime64[ns]
c5    3 non-null object
c6    3 non-null datetime64[ns]
c7    3 non-null datetime64[ns]
dtypes: datetime64[ns](3), int64(3), object(1)
memory usage: 240.0+ bytes

   c1  c2  c3                  c4          c5                  c6         c7
0   0  10  20 2019-09-04 22:34:21  2019-09-03 2019-09-03 22:34:00 2019-09-03
1   1  11  21 2019-09-04 22:34:21  2019-09-05 2019-09-05 22:34:00 2019-09-03
2   3  12  22 2019-09-04 22:34:21  2019-09-01 2019-09-01 22:34:00 2019-09-03

In [5]:
print(datetime.now())
datetime(2019,8,2,21,55).strftime("%Y-%m-%d %H:%M:%S:%s")

2019-09-10 11:40:09.428846

'2019-08-02 21:55:00:1564754100'

In [6]:
print(df.iloc[0:2,:])

   c1  c2  c3                  c4          c5                  c6         c7
0   0  10  20 2019-09-04 22:34:21  2019-09-03 2019-09-03 22:34:00 2019-09-03
1   1  11  21 2019-09-04 22:34:21  2019-09-05 2019-09-05 22:34:00 2019-09-03

In [7]:
a = pd.DataFrame(["a","b","c","d","e"])
print a.index
print a.columns

RangeIndex(start=0, stop=5, step=1)
RangeIndex(start=0, stop=1, step=1)

In [8]:
d = [("a","A"),("b","B"),["c","C"],["d","D"],["e","E"]]
pd.DataFrame(d,columns=["小写","大写"],index=["一","二","三","四","五"])

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D
五  e  E

In [9]:
d = {"小写":["a","b","c","d","e"],"大写":["A","B","C","D","E"]} ### 字典
a = pd.DataFrame(d,index=["一","二","三","四","五"])
print a.index
print a.columns

Index([u'一', u'二', u'三', u'四', u'五'], dtype='object')
Index([u'大写', u'小写'], dtype='object')

In [10]:
df = pd.read_table("/Users/maming/Downloads/test/dataframe_2_data_deal.txt",sep = ",")
df.head(3)
df.shape ### 多少行 多少列
df.info() ## 查看每列数据类型 以及 有没有null
df.describe() ### 数字类型的统计分布

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
c1    3 non-null float64
c2    3 non-null float64
c3    3 non-null float64
c4    4 non-null object
c5    4 non-null object
c6    4 non-null object
c7    4 non-null int64
dtypes: float64(3), int64(1), object(3)
memory usage: 296.0+ bytes

             c1    c2    c3          c7
count  3.000000   3.0   3.0         4.0
mean   1.333333  11.0  21.0  20190903.0
std    1.527525   1.0   1.0         0.0
min    0.000000  10.0  20.0  20190903.0
25%    0.500000  10.5  20.5  20190903.0
50%    1.000000  11.0  21.0  20190903.0
75%    2.000000  11.5  21.5  20190903.0
max    3.000000  12.0  22.0  20190903.0

In [11]:
df = pd.read_excel("/Users/maming/Downloads/湖北团队.xlsx",sheet_name=0,index_col=0,header=0,usecols=[0,1,2,4,5])
df.head(3)

        name  problem_count priority_tag_name_list  20190901
id
5833137  商户1            9.0                  问题标签1  20190901
1540112  商户2            6.0                  问题标签2  20190901
6830476  商户3           11.0                  问题标签3  20190901

In [12]:
df.to_excel(excel_writer = "/Users/maming/Downloads/111111.xlsx",sheet_name="1111",
                index = "false",##因为索引列没意义,所以不展示索引列,即列从0开始累加的列不展示
                columns = ["name","problem_count","20190901"],##设置选择哪些列导出
                header = ["aa","bb","ccc"],### 设置title
                encoding = "utf-8",##设置编码
                na_rep = 0,### 设置缺失值
                inf_rep = 0 ## 正负无穷值处理
                )

In [13]:
df.to_csv(path_or_buf = "/Users/maming/Downloads/111112.csv",
                sep = ",",
                index = "false",##因为索引列没意义,所以不展示索引列,即列从0开始累加的列不展示
                columns = ["name","problem_count","20190901"],##设置选择哪些列导出
                header = ["aa","bb","ccc"],### 设置title
                encoding = "utf-8",##设置编码
                na_rep = 0### 设置缺失值
                )